<div class="detailsPage" *ngIf="createForm">

  <div class="header">
    <h2>Create New Country</h2>
  </div>

  <form [formGroup]="createForm">

    <div class="fields">
      <div>
        <label>Name: </label>
        <input formControlName="name">
      </div>

      <div>
        <label>Code: </label>
        <input formControlName="code">
      </div>
    </div>

    <div class="actions">
      <button type="button" (click)="cancel()">Cancel</button>
      <button type="button" (click)="save()">Save</button>
    </div>

  </form>
</div>

<app-success-modal
  *ngIf="showSuccess"
  title="Success"
  message="Country successfully created!"
  (closed)="onSuccessClose()">
</app-success-modal>